body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border: 1px solid;
}
header #logo {
  width: 108px;
  height: 100px;
}

#logo a, #logo a img{
  width: 100%;
  height: 100%;
}

header nav a {
  text-decoration: none;
  color: #000000;
}

/**/

/* Page CreateEmploye */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}


